body {
    margin: 0 auto;
    min-height: 100vh;
    background-color: #ffffff;
    color: #f8f8f8;
    padding: 0 0.1em;
    font-family: 'Poppins', sans-serif;
}

.icon {
    height: 2.1rem;
    width: 2.1rem;
}

.paw {
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 2rem;
    padding: 0.8em 2.6em;
    background: linear-gradient(#FA695A 100%, #F83375 100%);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.75em 0;
}

.img-container {
    padding: 0 0.3em;
    position: relative
}

.img {
    display: block;
    margin: 0 auto;
    width: 23em;
    height: 35em;
    object-fit: cover;
    border-radius: 1em;
}

.liked-badge, .disliked-badge{
    position: absolute;
    transform: rotate(-30deg);
    height: 5em;
    top: 8%;
    left: 7%;
}

.img-text-info {
    position: absolute;
    top: 85%;
    left: 7%;
    margin: 0;
}

.bio {
    font-size: 1rem;
    text-shadow: 1px 1px 0px black;
}

.bottom {
    display: flex;
    justify-content: center;
    padding: 1em;
}

.bottom-icon {
    height: 7rem;
}

.hidden{
    display: none;
}