body {
    margin: 0 auto;
    min-height: 100vh;
    background-color: #ffffff;
    color: #f8f8f8;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(#FA695A 50%, #F83375 100%);
    max-width: 410px;
}

/*--------Styles for intro animation-----------*/

.intro {
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100%;
height: 100vh;
background: linear-gradient(#FA695A 50%, #F83375 100%); 
transition: 1s;
}

.logo-header{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    font-size: 3.5rem;
}

.logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

/*------Header--------*/
.icon {
    height: 2.1rem;
    width: 2.1rem;
}

.title {
    padding: 0.6em 1.8em;
    border-radius: 2em;
    background: linear-gradient(rgb(243, 210, 21) 75%, rgb(180, 155, 10) 100%
    );
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
}
.paw {
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 2rem;
    padding: 0.8em 2.6em;
    background: linear-gradient(rgb(243, 210, 21) 75%, rgb(180, 155, 10) 100%
    );
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.75em 0;
}
/*------Profile content-------*/
.img-container {
    position: relative
}

.img {
    display: block;
    margin: 0 auto;
    width: 22.5em;
    height: 35em;
    object-fit: cover;
    border-radius: 1em;
}

.liked-badge, .disliked-badge{
    position: absolute;
    transform: rotate(-30deg);
    height: 5em;
    top: 8%;
    left: 7%;
}

.img-text-info {
    position: absolute;
    top: 85%;
    left: 7%;
    margin: 0;
    text-shadow: 1px 1px 0px black;

}

.bio {
    font-size: 1rem;
}
/*-----bottom section layout-----*/
.bottom-section {
    display: flex;
    justify-content: center;
    padding: 1em;
}

.bottom-icon {
    height: 7rem;
}
/*-----styles for end of message page---- */
.end {
    text-align: center;
    font-size: 1.7rem;
    padding:2.8em;
}

/*-----elements with this class will be hidden -----*/
.hide {
    display: none;
}

.hidden {
    opacity: 0;
    transition: all 1.4s;
}

.show {
    opacity: 1;
}

